/* Vista para escritorio */
body {
    font-family: Arial, sans-serif;
    background-color: #F3F5FA;
    color: #334E6F;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    height: 100vh;
}

footer {
    text-align: center;
    font-weight: 600;
    padding: 0.625rem;
    background-color:#F3F5FA;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    width: 80%;
    max-width: 75rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
    flex: 1;
}

p {
    font-size: 1rem;
}

.logo {
    position: absolute;
    top: 1.25rem; 
    left: 1.25rem;
}

.logo img {
    width: 5rem; 
    height: auto;
}

.input-area, .output-area {
    padding: 1.25rem;
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
}

.input-area {
    border-right: 0.0625rem solid #E0E0E0; 
    padding-left: 3.75rem;
    gap: 0.9375rem;
}

.input-area p {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
}

textarea {
    width: 100%;
    height: 9.375rem;
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid #D1D1D1; 
    border-radius: 0.5rem;
    resize: none;
}

#output-text {
    width: 100%;
    height: 6.25rem; 
    padding: 0.625rem; 
    font-size: 1rem;
    border: 0.0625rem solid #D1D1D1; 
    border-radius: 0.5rem;
    resize: none;
}

.note {
    font-size: 0.75rem;
    color: #A0A0A0;
    margin-top: 0.625rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

button {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.encrypt-button {
    background-color: #1A73E8;
    color: #FFFFFF;
}

.decrypt-button {
    background-color: #E0E0E0;
    color: #334E6F;
}

.output-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.3125rem;
    padding: 1.25rem;
}

.output-area img {
    width: 12.5rem;
    margin-bottom: 0.625rem;
}

.output-message {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

/* Vista para Tablets*/
@media screen and (max-width: 48rem) { 
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0.9375rem;
    }

    .input-area, .output-area {
        width: 80%;
        margin-bottom: 1.25rem;
    }

    .output-area img {
        width: 5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

/* Vista para Smartphones */
@media screen and (max-width: 30rem) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0.625rem;
    }

    .input-area, .output-area {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .output-area img {
        width: 3.75rem;
    }

    footer {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.8rem;
    }
}
